/*----------------------------------------*/
/*  2.21 - Speciality Styles CSS
/*----------------------------------------*/
.speciality{
    position: relative;
    &-image{
        @media #{$desktop-device} {
            margin-right: 50px;
        }
        @media #{$large-mobile} {
            display: block;
            & img {
                width: 100%;
            }
        }
        position: relative;
        display: inline-flex;
        &-circle {
            .circle1 {
                top: -65px;
                position: absolute;
                left: -80px;
                animation: zoom1 3s infinite linear;
                @media #{$laptop-device} {
                    left: -20px;
                }
                @media #{$desktop-device} {
                    left: -20px;
                    top: -80px;
                }
                @media #{$tablet-device} {
                    top: -50px;
                    left: -20px;
                    width: 8%;
                }
                @media #{$large-mobile} {
                    display: none;
                }
            }
            .circle2 {
                top: 100px;
                right: -50px;
                position: absolute;
                animation: zoom1 4s infinite linear;
                z-index: 4;
                @media #{$large-mobile} {
                    display: none;
                }
            }
            .circle3 {
                left: -85px;
                bottom: -175px;
                position: absolute;
                z-index: 2;
                // animation: zoom1 5s infinite linear;
                @media #{$tablet-device} {
                    width: 40%;
                    bottom: -50px;
                }
                @media #{$large-mobile} {
                    display: none;
                }
            }
        }
        &-inner{
            position: relative;
            z-index: 3;
        }
    }
    & .heading-one-title{
        margin: 10px 0px 40px;
        @media #{$tablet-device} {
            margin: 10px 0px 20px;
        }
        @media #{$large-mobile} {
            margin: 10px 0px 20px;
        }
    }
    &-shape{
        position: absolute !important;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        & .shape{
            position: absolute;
        }
        & .shape1{
            left: 170px;
            bottom: 185px;
            @media only screen and (min-width: 1550px) and (max-width: 1650px) {
                left: 60px;
            }
            @media #{$big-device} {
                left: 30px;
            }
            @media #{$laptop-device} {
                left: 20px;
            }
            @media #{$tablet-device, $large-mobile} {
                display: none;
            }
        }
        & .shape2{
            top: -25px;
            right: 60px;
            @media #{$big-device} {
                right: 30;
            }
            @media #{$laptop-device} {
                right: 20px;
            }
            @media #{$desktop-device} {
                right: 10px;
                top: -40px;
                width: 18%;
            }
            @media #{$tablet-device} {
                right: 0px;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
        & .shape3{
            right: 114px;
            bottom: 0;
            animation: moveupdown1 3s infinite linear;
            @media only screen and (min-width: 1550px) and (max-width: 1650px) {
                right: 60px;
            }
            @media #{$big-device} {
                right: 30px;
            }
            @media #{$laptop-device} {
                right: 20px;
                bottom: -40px;
            }
            @media #{$desktop-device} {
                right: 10px;
                bottom: -40px;
                width: 2%;
            }
            @media #{$tablet-device} {
                right: 40px;
                bottom: auto;
                top: 50%;
                width: 2%;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
    }
    &_list{
        display: flex;
        margin-top: 45px;
        gap: 40px;
        @media #{$tablet-device} {
            margin-top: 30px;
        }
        @media #{$large-mobile} {
            margin-top: 30px;
        }
        @media #{$small-mobile} {
            margin-top: 30px;
            gap: 20px;
        }

        &__single{
            & .content_title{
                font-size: 24px;
                font-weight: 700;
                margin: 35px 0 20px;
                @media #{$tablet-device} {
                    margin: 20px 0 15px;
                }
                @media #{$large-mobile} {
                    margin: 20px 0 15px;
                    font-size: 22px;
                }
                @media #{$small-mobile} {
                    margin: 15px 0 10px;
                    font-size: 18px;
                }
            }
        }
    }
}