/*----------------------------------------*/
/*  1.3 Heading Styles CSS
/*----------------------------------------*/
.heading-one {
    &-subtitle {
        color: $secondary;
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        @media #{$large-mobile} {
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    &-title {
        font-size: 60px;
        font-weight: 700;
        color: $dark;        
        @media #{$desktop-device, $tablet-device} {
            font-size: 50px;
        }
        @media #{$large-mobile} {
            font-size: 40px;
        }
        @media #{$small-mobile} {
            font-size: 36px;
        }
        @media #{$extra-small-mobile} {
            font-size: 30px;
        }
    }
    &-text-two {
        font-weight: 700;
        font-size: 18px;
        margin-top: 30px;
    }
}

.rotate-title{
    font-size: 260px;
    font-weight: 700;
    line-height: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #322fb3;
    -webkit-text-fill-color: transparent;
    opacity: 0.28;
    top: 80%;
    position: absolute;
    z-index: 9;

    &.rotate-left{
        transform: rotate(270deg);
        left: -300px;
        @media only screen and (min-width: 1550px) and (max-width: 1699px) {
            font-size: 200px;
            left: -260px;
        }
        @media only screen and (min-width: 1400px) and (max-width: 1549px) {
            font-size: 130px;
            left: -177px;
        }
    }

    &.rotate-right{
        transform: rotate(90deg);
        right: -450px;
        overflow: hidden;
        @media only screen and (min-width: 1550px) and (max-width: 1699px) {
            font-size: 200px;
            right: -370px;
        }
        @media only screen and (min-width: 1400px) and (max-width: 1549px) {
            font-size: 130px;
            right: -240px;
        }
    }
}